.resume-btn-container{
  margin-top: 630px;
}
.resume-btn {
    cursor: pointer;
    z-index: 10;
    padding-top: 5px;
    margin-left: 1vw;

    font-family: 'Cyber', sans-serif;
    background: transparent;
    text-transform: uppercase;
    font-weight: 800;
    border: 0;

    color: #3FDC69;
    letter-spacing: 7px;
    font-size: 40px;

    align-items: center;
  }